---

import { Image } from "astro:assets"
import { Icon } from "astro-icon/components";

import BaseLayout from "~/layouts/BaseLayout.astro"
import VideoHeader from "~/components/sections/VideoHeader.astro";
import PartnerLogos from "~/components/sections/PartnerLogos.astro";
import ContentSplit from "~/components/sections/ContentSplit.astro";
import ContentGallery from "~/components/sections/ContentGallery.astro";
import Button from "~/components/common/Button.astro";
import CTA from "~/components/sections/CTA.astro"

import siteInfo from "~/data/site-info";
import content from "~/data/content";
import { ParseStatus } from "astro:schema";
const title = siteInfo.pages[0].title
const description = siteInfo.pages[0].title

const partnerLogos = content.partnerLogos
const apiFeatures = content.apiFeatures

import placeholder from "~/assets/woman.jpg"
---

<BaseLayout {title} {description}>

	<!-- HERO HEADER -->
	 <VideoHeader  link="#about" title="Master the Power of Emotion." tagline="A breakthrough in mental health, powered by neuroscience and sound. ">
		<div class="flex flex-col gap-2 my-4">
			<p>Discover the revolutionary software that harnesses patented Neurofeedback technology to help you regulate our emotions effectively. Experience a new level of emotional wellbeing with our unique sound frequencies.</p>
			<div class="mt-4 flex gap-4 sm:mt-6 justify-center items-center md:justify-start">
				<Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text="Get Started" href="#about" type="filled"  />
				<Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text="Get in Touch" href="/contact" type="outlined-filled"  />

			</div>
		</div>
	</VideoHeader>

	<!-- LOGO LIST -->
	 <PartnerLogos text="Trusted by industry leaders worldwide" logos={partnerLogos} id="partnerLogos" />

	<!-- ABOUT -->
	<ContentSplit title="Developed by Science, Backed by Evidence" subtitle="About Us" id="about">
		<Fragment slot="heading">
			<p class=" md:text-left text-center" >
				We are transforming the use of technology in treating mental health by prioritising emotional regulation. Our innovative software employs patented Neurofeedback technology to help individuals manage thier emotions in just 20 minutes using tailored sound frequencies. 
			</p>

			<div class="mt-4 flex gap-4 sm:mt-6  justify-center items-center md:justify-start">
				<Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text="Discover" href="/about" type="color-primary"  />
				<Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text="Learn More" href="/contact" type="no-fill" icon="ph:caret-right"  />

			</div>

		</Fragment>
		<div class="flex flex-col gap-4 ">

			<Image src={placeholder} alt=""   decoding="async"
			loading="lazy" class="relative rounded-lg  object-cover object-center animate-fadeIn" />
		</div>

	</ContentSplit>

	<!-- FEATURE - Link to SOLUTIONS -->
	<ContentSplit title="Stress Point Health's patented API brings digitised Neurofeedback to the market for the first time." subtitle="The Stress Point Health API" id="solutions" sectionbg="bg-primary text-white py-32" subtitleColor="text-white">
		<Fragment slot="heading">

			<div class="mt-4 flex gap-4 sm:mt-6 justify-center items-center md:justify-start">
				<Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text="Discover" href="/solutions" type="filled"  />
				<Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text="Learn More" href="/contact" type="no-fill" icon="ph:caret-right"  />

			</div>

		</Fragment>
		<div class="flex flex-col gap-4 ">

			<ol
				class="relative space-y-8 before:absolute before:ml-1 before:h-full before:w-0.5 before:rounded-full before:bg-secondary"
			>
				{
					apiFeatures.map((feature) => (
					<li class="relative -ms-1.5 flex items-start gap-4 text-white ">
				
						<Icon name={feature.icon ? feature.icon : "ph:cube"} class="size-6 shrink-0 rounded-full bg-primary text-tertiary" aria-hidden="true" />
					
						<div class="-mt-2">
							{
								feature.subtitle && (
									<p class="text-xs/none font-medium ">{feature.subtitle}</p>
								)
							}
					
							<h3 class="text-lg font-bold ">{feature.title}</h3>
					
							<p class="mt-0.5 text-sm font-light ">
							{feature.content}
							</p>
						</div>
					</li>
					))
				}
			</ol>
			
		</div>

	</ContentSplit>
	<!-- FEATURE - Link to Sphere App -->
	<ContentSplit title="The modern approach to regulating your emotions" subtitle="Sphere" id="sphere">
		<Fragment slot="heading">
			<p class=" md:text-left text-center" >
				Discover the revolutionary Sphere app that harnesses cutting-edge Neurofeedback technology. An app designed to treat stress, anxiety and PTSD by helping you deal with your emotional reaction to triggers.
			</p>

			<div class="mt-4 flex gap-4 sm:mt-6 justify-center items-center md:justify-start">
				<Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text="Discover" href="/solutions/sphere" type="color-primary"  />
				<Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text="Learn More" href="/contact" type="no-fill" icon="ph:caret-right"  />

			</div>

		</Fragment>
		<div class="flex flex-col gap-4 ">

			<Image src={placeholder} alt=""   decoding="async"
			loading="lazy" class="relative rounded-lg  object-cover object-center animate-fadeIn" />
		</div>

	</ContentSplit>

	<!-- RESOURCES LIST -->

	<ContentGallery subtitle="Insights" title="Explore our Latest Resources" subtext="Stay updated with our recent articles and insights." items={content.blogs} gallery="cards" sectionbg="" cardCols="lg:grid-cols-3">
		<Button
		href="/resources"
		text="Read More Content"
		type="filled"
		buttonColor="color-primary"
		addClasses="w-fit"
		slot="buttons"

		/>

			<p slot="subtext">Stay updates with our recent articles and insights.</p>

	</ContentGallery>

	<!-- CTA -->
	<CTA divbg="bg-(--tertiaryContainer) text-(--onTertiaryContainer) rounded-lg py-32 min-h-32" sectionbg="my-16 " title="Transform Your Emotions Today"  />
	<!-- FAQ -->


</BaseLayout>

