---

import { Image } from "astro:assets"
import { Icon } from "astro-icon/components";

import BaseLayout from "~/layouts/BaseLayout.astro"
import VideoHeader from "~/components/sections/VideoHeader.astro";
import PartnerLogos from "~/components/sections/PartnerLogos.astro";
import ContentSplit from "~/components/sections/ContentSplit.astro";
import ContentGallery from "~/components/sections/ContentGallery.astro";
import Button from "~/components/common/Button.astro";
import CTA from "~/components/sections/CTA.astro"

import siteInfo from "~/data/site-info";
import content from "~/data/content";
import { ParseStatus } from "astro:schema";
const title = siteInfo.pages[0].title
const description = siteInfo.pages[0].title

const partnerLogos = content.partnerLogos
const apiFeatures = content.apiFeatures

import placeholder from "~/assets/woman.jpg"
---

<BaseLayout {title} {description}>

	<!-- HERO HEADER -->
	 <VideoHeader  link="#about" title="Master the Power of Emotion." tagline="A breakthrough in mental health, powered by neuroscience and sound. ">
		<div class="flex flex-col gap-2 my-4">
			<p>Discover the revolutionary software that harnesses patented Neurofeedback technology to help you regulate our emotions effectively. Experience a new level of emotional wellbeing with our unique sound frequencies.</p>
			<div class="mt-4 flex gap-4 sm:mt-6">
				<a
				  class="inline-block rounded border border-indigo-600 bg-indigo-600 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-indigo-700"
				  href="#about"
				>
				  Get Started
				</a>
				<a
				  class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900"
				  href="#"
				>
				  Learn More
				</a>
			</div>
		</div>
	</VideoHeader>

	<!-- LOGO LIST -->
	 <PartnerLogos text="Trusted by industry leaders worldwide" logos={partnerLogos} id="partnerLogos" />

	<!-- ABOUT -->
	<ContentSplit title="Developed by Science, Backed by Evidence" subtitle="About Us" id="about">
		<Fragment slot="heading">
			<p class=" md:text-left text-center" >
				We are transforming the use of technology in treating mental health by prioritising emotional regulation. Our innovative software employs patented NBeurofeedback technology to help individuals manage thier emotions in just 20 minutes using tailored sound frequencies. 
			</p>

			<div class="mt-4 flex gap-4 sm:mt-6">
				<a
				  class="inline-block rounded border border-indigo-600 bg-indigo-600 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-indigo-700"
				  href="#"
				>
				  Get Started
				</a>
		
				<a
				  class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900"
				  href="#"
				>
				  Learn More
				</a>
			</div>

		</Fragment>
		<div class="flex flex-col gap-4 ">

			<Image src={placeholder} alt=""   decoding="async"
			loading="lazy" class="relative rounded-lg  object-cover object-center animate-fadeIn" />
		</div>

	</ContentSplit>

	<!-- FEATURE - Link to SOLUTIONS -->
	<ContentSplit title="Stress Point Health's patented API brings digitised Neurofeedback to the market for the first time." subtitle="The Stress Point Health API" id="solutions">
		<Fragment slot="heading">

			<div class="mt-4 flex gap-4 sm:mt-6">
				<a
				  class="inline-block rounded border border-indigo-600 bg-indigo-600 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-indigo-700"
				  href="#"
				>
				  Get Started
				</a>
		
				<a
				  class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900"
				  href="#"
				>
				  Learn More
				</a>
			</div>

		</Fragment>
		<div class="flex flex-col gap-4 ">

			<ol
				class="relative space-y-8 before:absolute before:-ml-px before:h-full before:w-0.5 before:rounded-full before:bg-gray-200"
			>
				{
					apiFeatures.map((feature) => (
					<li class="relative -ms-1.5 flex items-start gap-4 ">
				
						<Icon name={feature.icon ? feature.icon : "ph:cube"} class="size-4 shrink-0 rounded-full bg-(--primary)" aria-hidden="true" />
					
						<div class="-mt-2">
							{
								feature.subtitle && (
									<p class="text-xs/none font-medium text-gray-700">{feature.subtitle}</p>
								)
							}
					
							<h3 class="text-lg font-bold text-gray-900">{feature.title}</h3>
					
							<p class="mt-0.5 text-sm text-gray-700">
							{feature.content}
							</p>
						</div>
					</li>
					))
				}
			</ol>
			
		</div>

	</ContentSplit>
	<!-- FEATURE - Link to Sphere App -->
	<ContentSplit title="The modern approach to regulating your emotions" subtitle="Sphere" id="sphere">
		<Fragment slot="heading">
			<p class=" md:text-left text-center" >
				Discover the revolutionary Sphere app that harnesses cutting-edge Neurofeedback technology. An app designed to treat, stress, anxiety and PTSD by helping you deal with your emotional reaction to triggers.
			</p>

			<div class="mt-4 flex gap-4 sm:mt-6">
				<a
				  class="inline-block rounded border border-indigo-600 bg-indigo-600 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-indigo-700"
				  href="/solutions/sphere"
				>
				  Get Started
				</a>
		
				<a
				  class="inline-block rounded border border-gray-200 px-5 py-3 font-medium text-gray-700 shadow-sm transition-colors hover:bg-gray-50 hover:text-gray-900"
				  href="#"
				>
				  Learn More
				</a>
			</div>

		</Fragment>
		<div class="flex flex-col gap-4 ">

			<Image src={placeholder} alt=""   decoding="async"
			loading="lazy" class="relative rounded-lg  object-cover object-center animate-fadeIn" />
		</div>

	</ContentSplit>

	<!-- RESOURCES LIST -->

	<ContentGallery subtitle="Resources"  items={content.blogs} gallery="cards" sectionbg="bg-[--primaryContainer]" cardCols="lg:grid-cols-3">
		<Button
		href="/resources"
		text="Read More Content"
		type="filled"
		buttonColor=""
		addClasses="w-fit"
		slot="buttons"

		/>
	</ContentGallery>

	<!-- CTA -->
	<CTA divbg="bg-[--primaryContainer] text-[--onPrimaryContainer]" sectionbg="my-16" />
	<!-- FAQ -->


</BaseLayout>

