---
import { ClientRouter } from "astro:transitions";

import siteInfo from "~/data/site-info";

// import "~/styles/fonts.css";
import Favicon from "./Favicon.astro";
import SEO from "./SEO.astro";
import CookiesHead from "~/components/cookies/CookiesHead.astro";

export type Props = {
	title?: string;
	rawTitle?: string;
	description?: string;
	image?: { src: string; alt: string };
	themeColor?: string;
	canonicalURL?: URL | null;
	pageType?: "website" | "article";
	cookies?: any;
	twitterHandle?: string;
};


const {
	rawTitle,
	description = siteInfo.description,
	image = siteInfo.image,
	themeColor = siteInfo.themeColor,
	canonicalURL = new URL(Astro.request.url, Astro.site),
	pageType = "website",
	cookies = siteInfo.cookies,
	twitterHandle = siteInfo.twitterHandle
} = Astro.props;

const title = rawTitle ?? [Astro.props.title, siteInfo.name].filter(Boolean).join(" | ");
const resolvedImage = {
	src: new URL(image.src, Astro.site).toString(),
	alt: image.alt,
};


---

<!-- High Priority Global Metadata -->
<meta charset="utf-8" />
<!-- set initial width of page to size of actual screen, do not zoom in or out -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{title}</title>
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content={themeColor} />

<!-- Fathom - beautiful, simple website analytics -->
<!-- <script is:inline src="https://cdn.usefathom.com/script.js" data-site="EZBHTSIG" defer></script> -->

<!-- Font preloads, omit MDIO to improve initial load -->
<!-- <link rel="preload" href="/fonts/Obviously.woff2?v=1" as="font" type="font/woff2" crossorigin /> -->
<!-- <link rel="preload" href="/fonts/Inter.woff2?v=1" as="font" type="font/woff2" crossorigin /> -->

<!-- Low Priority Global Metadata -->
<Favicon />
<link rel="mask-icon" href="/favicon.svg" color={themeColor} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS" />

<SEO
	name={siteInfo.name}
	title={title}
	description={description}
	image={resolvedImage}
	twitter={{ handle: twitterHandle }}
	og={{ type: pageType }}
	canonicalURL={canonicalURL}
/>
<ClientRouter  />

{cookies &&
	// <!-- cookies -->
	<CookiesHead {cookies} />
}

<!-- decap -->