---

import siteInfo from "~/data/site-info";

import Navigation from './Navigation.astro';
import Logo from "~/components/common/Logo.astro";
import DarkMode from './DarkMode.astro';
import Button from '~/components/common/Button.astro';


export interface Props {
	header?: "opaque" | "transparent";
    fontColors?: string;
}

const { header , fontColors } = Astro.props;
---


<header class:list={[header === "opaque" ? "shadow-lg sticky bg-primary text-white rounded-full" : "fixed transparent-header text-white", "top-4 z-30  flex  justify-between items-center  gap-y-2 py-2 px-4  max-w-5xl w-[80svw]  relative", {"md:flex-wrap lg:flex-wrap-none ": siteInfo.pages.length>4}]}>
    <Logo header addClasses="w-max "
     />
    <Navigation {header} {fontColors}  />
    <div class="order-1 sm:order-3 flex items-center justify-center px-2 gap-x-2 ">
        <!-- add cta button -->
        { siteInfo.navCta &&
            <Button addClasses="order-last sm:order-first inline-flex  size-tiny sm:size-small" text={siteInfo.navCta.label} href={siteInfo.navCta.href} type="filled-alt"  />
        }
        <!-- <DarkMode colors={fontColors} /> -->
    </div>

</header>

<style>
    @reference "~/styles/global.css"
    .transparent-header{
        @apply before:content-[''] before:absolute before:inset-[0] before:block before:opacity-45 dark:before:opacity-85 before:z-[-5]  backdrop-filter backdrop-blur-lg backdrop-opacity-80
    }
    .before-gradient{
        @apply before:bg-gradient-to-r before:from-[--primary] before:to-[--primary] before:text-[--onPrimary]
    }
</style>
